{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
{{object}}
{% endblock head_title %}


{% block content %}
<div class="container py-5">
    <h1>{{object}}</h1>
    <hr>
    <div class="container py-5">
        <div class="card bg-info w-50">
            <h3 class="card-header py-4">{{object.first_name}}
                {{object.last_name}}</h3>
            <div class="mx-auto card bg-dark w-100">
                <div class="card-body text-white">
                    <div class="card w-50 bg-dark shadow-lg">
                        <div class="card-body">
                            <form action=""
                                method="post">
                                {% csrf_token %}
                                {{form|crispy}}
                        </div>
                    </div>
                    <hr>
                    <div class="float-end mb-3">
                        <a href="{% url 'providers:provider-detail' object.pk %}"
                            class="btn btn-lg btn-primary">Cancel</a>
                        <button type="submit"
                            class="btn btn-sm btn-outline-danger">Save</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}