{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
Jobs
{% endblock head_title %}


{% block content %}
<div class="container py-5">
    <h1>Jobs</h1>
    <hr>
    <div class="container py-5">
        <div class="card col-lg-6 col-sm-12">
            <ul class="list-group list-group-flush">
                {% for job in object_list %}
                <li class="list-group-item">
                    <a class="text-decoration-none fs-2 text-priamry mb-3" href="">{{job.name}}</a>
                    <br>
                    <br>
                    <p class="d-flex text-muted"
                        style="font-size: 12px;">skill level:
                        {{job.skill_level}} - hourly rate: {{job.hourly_rate}}
                        - posted: {{job.posted|naturaltime}}</p>
                    <p style="font-size: 14px;">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Cum ducimus explicabo
                        provident? Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Et esse nemo nam quia? Suscipit
                        exercitationem omnis distinctio molestiae repellat
                        harum....</p>

                    <p class="d-flex">

                        {% for tag in job.tags.all %}
                        <button
                            class="btn btn-sm btn-secondary mx-1 rounded-pill">{{tag}}</button>

                        {% endfor %}

                    </p>
                </li>
                {% endfor %}
            </ul>
         
        </div>
    </div>
</div>

{% endblock content %}