{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
Jobs
{% endblock head_title %}


{% block content %}
<div class="container py-5">
    <h1>Jobs</h1>
    <hr>
    <div class="container py-5">
        <div class="card col-lg-6 col-sm-12 mx-auto">
            <ul class="list-group list-group-flush">
                {% for job in object_list %}
                <li class="list-group-item py-3">
                    <a class="text-decoration-none fs-5 text-dark my-3"
                        href="">{{job.name}}</a>
                    <br>
                    <br>
                    <p class="d-flex text-muted"
                        style="font-size: 14px;">skill level:
                        {{job.skill_level}} - hourly rate: ${{job.hourly_rate}}
                        hr
                        - posted: {{job.posted|naturaltime}}</p>
                    <p style="font-size: 14px;">{{job.description}}</p>
                    <p class="d-flex">
                        {% for tag in job.tags.all %}
                        <button
                            class="btn btn-sm btn-secondary mx-1 rounded-pill">{{tag|title}}</button>
                        {% endfor %}
                    </p>
                    <a href="jobs/{{job.location.district_name}}">
                        <p class="d-flex text-muted float-end"><span
                                class="material-symbols-outlined">
                                location_on
                            </span><span
                                style="font-size: 14px;">{{job.location.district_name|title}}</span>
                        </p>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

{% endblock content %}