<div class="bg-dark">
    <div class="container py-0 d-flex">
        <a class="text-decoration-none text-white mx-2 text-end"
            href="tel:17584568522">1-758-456-8522</a>
        <a class="text-decoration-none text-white mx-2 text-end"
            href="mailto:mail-us@mail.com">email us</a>
    </div>
    <div class="container-fluid d-flex py-2">
        <a class="btn btn-outline-light mx-1" href="/">Home</a>
        <!-- <a class="btn btn-outline-light mx-1" href="/providers">Jobs</a> -->
        <a class="btn btn-outline-light mx-1" href="{% url 'providers:provider-list' %}">Providers</a>
    </div>
</div>